[submodule "downloader487"]
	path = downloader487
	url = git@github.com:andre487/downloader487.git
[submodule "deploy/infrastructure"]
	path = deploy/infrastructure
	url = https://github.com/andre487/infrastructure
